{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté avec {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">déconnexion</a>
        </div>
    {% endif %}

    <div class="container align-center">
        <h1 class="p-5 mb-3 font-weight-normal text-secondary">Connectez vous</h1>

        <div class="p-5">
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        </div>

        <div class="container align-items-center pb-5">
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Se souvenir de moi
                </label>
            </div>

            <button class="btn btn-lg btn-secondary" type="submit">
                Se connecter
            </button>
        </div>
    </div>
</form>
{% endblock %}
